*{
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

.Wallpage{
    background-color: transparent; 
    display: flex;
    flex-direction: row;
    font-family: lato sans-serif;
    font-size: large;
    text-align: center;
    min-height: 100vh;
}


.Add_spinner{
    background-color: #282c34;
    height: 20vmax;
    pointer-events: none;
    width: 20vmax;
}

@media(prefers-reduced-motion:no-preference){
    .Add_spinner{
        animation: Add-spin infinite 10s linear;
    }
}


@keyframes Add-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}