*{
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

.Wallpage{
    background-color: #282c34; 
    display: flex;
    font-family: lato sans-serif;
    font-size: large;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}


.Spinners{
    align-items: center;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    max-width: 20%;
}


.Add_spinner{
    align-self: center;
    background-color: transparent;
    height: 4vmax;
    justify-self: center;
    pointer-events: none;
    width: 4vmax;
}

@media(prefers-reduced-motion:no-preference){
    .Add_spinner{
        animation: Add-spin infinite 10s linear;
    }
}


@keyframes Add-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}


.Calculator{
    align-self: center;
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, rgb(150, 150, 130), rgba(53, 114, 114, 0.774));
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,37);
    border-radius: 4%;
    min-height: 90%;
    min-width: 25%;
    position: absolute ;
}


.Display_area{
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, rgb(223, 217, 132), rgba(245, 243, 157, 0.959));
    border: 1px solid rgba(81, 92, 68, 0.568);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,37);
    border-radius: 4%;
    left: 6%;
    margin-top: 5%;
    min-height: 30%;
    min-width: 88%;
    position: absolute ;
}


.Input_area{
    background-color: transparent;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 55vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 65%;
    padding-top: 5%;
    position: fixed ;
    width: 100%;
}

.Input{
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg, rgb(223, 217, 132), rgba(245, 243, 157, 0.959));
    border: 1px solid rgba(81, 92, 68, 0.568);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,37);
    border-radius: 15px;
    color: #282c34;
    font-size: large;
    height: 70%;
    justify-self: center;
    width: 80%;

}

